<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>UCSD EventHub</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2014.1.318/styles/kendo.common.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.css" rel="stylesheet" type="text/css" />

    <style>
      #navBarSearchForm input[type=text]{width:430px !important;}
    </style>
    <script type="text/javascript" language="javascript">
      function SubmitSearchQuery() {
        var input = document.getElementById("search").value;
        location.href = "/event_search?q="+input;
      }
      function searchKeyPressListener(e) {
        if (e.keyCode == 13) {
          SubmitSearchQuery()
        }
      }
    function SubmitSearchQuery2() {
        var input = document.getElementById("search2").value;
      location.href = "/event_search?q="+input;
      }
      function searchKeyPressListener2(e) {
        if (e.keyCode == 13){
          SubmitSearchQuery2()
        }
      }
    </script>
    <link rel="stylesheet" type="text/css" href="{% static "css/eventDetailsStyle.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/orgDetailsStyle.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/grid.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/search.css" %}">

  </head>

  <body style="background: white">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">UCSD Event Hub</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for c in categories %}
                <a class="dropdown-item" href="/event_search/?q={{c.category}}">{{c.category}}</a>
            {% endfor %}
          </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav ml-auto navbar-right">
          <div class="form-inline mt-2 mt-md-0" id="navBarSearchForm">
            <input class="form-control mr-sm-4 span10" id="search" method="put" type="text" placeholder="Search" onkeypress= "searchKeyPressListener(event)">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="SubmitSearchQuery()" id="searchButton" style="color: #fff;">Search</button>
          </div>

            {% if request.user.is_authenticated and not is_user_attendee %}
              <li class="nav-item">
                <a class="nav-link" href="/event_upload" style="color: #fff;">Create Event</a>
              </li>
            {% endif %}
            <li class="nav-item">
                {% if not request.user.is_authenticated %}
                    <a class="nav-link" href="/signup/" style="color: #fff;"><span class="glyphicon glyphicon-user"></span> Register</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if not request.user.is_authenticated %}
                    <a class="nav-link" href="/login/" style="color: #fff;"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
                {% else %}
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" style="color: #fff;"><strong>{{ request.user.username }}</strong></a>
                    <ul class="dropdown-menu" role="menu"  style="padding: 10px; padding-bottom: 0px;">
                      <li>
                        <div class="navbar-login">
                          <div class="row">
                            <div class="col-lg-11">
                              <p class="text-center">
                                  <span class="glyphicon glyphicon-user"></span>
                              </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12">
                              {% if is_user_attendee %}
                                <p class="text-left">
                                    <a href="/myevents/" class="btn btn-primary btn-block">My Events</a>
                                </p>
                              {% else %}
                                <p class="text-left">
                                    <a href="/organizer/?id={{org_id}}" class="btn btn-primary btn-block">My Page</a>
                                </p>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <div class="navbar-login navbar-login-session">
                          <div class="row">
                            <div class="col-lg-12">
                              <p>
                                <a href="/logout/" class="btn btn-danger btn-block">Log Out</a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                {% endif %}
            </li>
          </ul>
        </div>
      </nav>

    <main role="main">
      <div class="jumbotron" style="text-align: center;padding-bottom: 10px; padding-top: 10px; background:rgba(211, 211, 211, 0.67);overflow: hidden;text-overflow: clip;white-space: nowrap;">
        {% block title_content %}
        {% endblock %}
      </div>

      <div class="container">
      {% block content %}
      {% endblock %}
      </div>
    </main>

    <footer class="container">
      <p>&copy; UCSD EventHub, 2017</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="http://protostrap.com/Assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="http://protostrap.com/Assets/inputmask/js/jquery.inputmask.js" type="text/javascript"></script>
    <script src="http://cdn.kendostatic.com/2014.1.318/js/kendo.all.min.js"></script>
    <script src="http://protostrap.com/Assets/parsely/parsley.extend.js" type="text/javascript"></script>
    <script src="http://protostrap.com/Assets/parsely/2.0/parsley.js" type="text/javascript"></script>
    <script src="http://protostrap.com/Assets/download.js" type="text/javascript"></script>
    <script src="http://protostrap.com/Assets/protostrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  </body>
</html>
