{% load staticfiles %}
<html>
    <head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="{% static "css/eventDetailsStyle.css" %}">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous"></script>
   <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    </head> 
    <body>

    <h1 class = "eventTitle">{{ events.title }}</h1>
    <div class="event_tile_wrapper col-md-12 no-padding" style="padding-right: 0px;">
		<div class="poster col-md-8">
			<img src="/media/{{events.image}}" class="poster_image img-responsive" style = "width:100%; height:300px"/>	
		</div>
	<div class="details col-md-4">
	<div class="title">
	<p class="p_title">
	{{events.title}}
	</p>
	</div>

	
	<div class="datetime">
		<p class="p_datetime">
			{{  events.start_date }}
		</p>
	</div>
	<div class="location">
	<p class="p_location">
	{{events.location}}
	</p>
	</div>

	<div class="hashtag">
	<p class="p_hashtag">
	{{  events.hashtags }}
	</p>
	</div>


	</div>
<br style="clear: both;">
</div>


<div class = "col-md-8"></div>

<div id="wrapper">
	
	<div class ="description col-md-10">
		<h3 class ="heading">Description</h3>						
		<div>
			<p class="text">{{events.description}}</p>
		</div>				
		<div  class="text">
			<div>
				<h3 class ="heading">Tags</h3>
				<section>
					{{events.hashtags}}				
				</section>
							
			</div>
		</div>
						
	</div>
	<div class ="calendar col-md-2"><a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{events.title}}&dates={{events.googleDate}}&details={{events.description}}&location={{events.location}}&trp=false&sprop=&sprop=name">Add to calendar</a></div>	
</div>
