{% extends 'hub\base.html' %}
{% load staticfiles %}
<html>
    <head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
			<link rel="stylesheet" type="text/css" href="{% static "css/eventDetailsStyle.css" %}">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous"></script>
   <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    	
    {% block title_content %}
    <p>{{event.id}}</p>
    <p>{{event.isRsvpd}}</p>
    <p>{{event.user.is_anonymous}}</p>
    <h1 class = "eventTitle">{{ event.title }}</h1>
    <p></p>
    {% endblock %}
    {% block content %}
    <div class="row">
		<div class ="col"></div>
		<div class = "col-md-10">
			<div class="event_tile_wrapper no-padding">
				<div class="poster">
					<img src="{{event.image_url}}" class="poster_image img-responsive"/>
				</div>
				<div class="details">
					<div class="title">
						<p class="p_title">
							{{event.title}}
						</p>
					</div>
					<div class="datetime">
						<p class="p_datetime">
							{{  event.start_day }}
						</p>
					</div>
					<div class="datetime">
						<p class="p_datetime">
							{{  event.start_time }}
						</p>
					</div>
					<div class="location">
						<p class="p_location">
							At: {{event.location}}
						</p>
					</div>

					<div class="organizer">
						<p class="p_organizer">
							By: <a href="{{ event.organizer_url }}">
								{{event.organizer}}
								</a>
						</p>
					</div>

					<div class="calendar">
						<a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{event.title}}&dates={{event.googleDate}}&details={{event.description}}&location={{event.location}}&trp=false&sprop=&sprop=name" target="_blank">
							<p class="p_calendar">	
							Add to calendar
							</p>
						</a>
						<div class="hashtag">
							<p class="p_hashtag">
								{{  event.hashtags }}
							</p>
						</div>
					</div>
					
					
				</div>
			<br style="clear: both;">
			</div>
		</div>
		<div class ="col"></div>
		
	</div>
	<div class="row" style="margin-top:10px">
		<div class ="col"></div>
		<div class = "col-md-10">
			
			<div id="wrapper">
				<div class ="description">
					<h3 class ="heading">Description</h3>
					<div style="padding-bottom:20px">
						<p class="p_description">{{event.description}}</p>
					</div>
					<div  class="text">
						<div>
							<h3 class ="heading">Tags</h3>
							<section>
								{{event.hashtags}}
							</section>
						</div>
					</div>
				</div>
				<div class ="sidecolumn">

					{%if event.isRsvpd %}
						<input type="button" class="delRSVP" onclick="deleteRSVP()" value="Remove RSVP" name="delRSVP">
					{% else %}
						<input type="button" class="saveRSVP" onclick="saveRSVP()" value="RSVP" name="saveRSVP">
					<!-- <button onclick="saveRSVP()">RSVP</button> -->
					{% endif %}
				</div>
			</div>
		</div>
		<div class ="col"></div>
	</div>
	<script type="text/javascript">
		function deleteRSVP(){
			alert("In deleteRSVP")


		}

		function saveRSVP(){
			alert("In saveRSVP")
			save_RSVP(1,1)
		}
	</script>
{% endblock %}
</body>
</html>