{% extends 'hub\base.html' %}
<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <title>UCSDEventHub</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- <link href="grid.css" rel="stylesheet"> -->
  </head>
  <body>
    <div class="container">
      <div class="row">
        {% block title_content %}
        <p></p>
        <h1>Upcoming Events</h1>
        <p></p>
        {% endblock %}
    </div>
    <div class="row">
    {% block content %}


            <div class="row">
              {% for event in events %}
              <div class="card">
                <!-- <div class="card_i"> -->
                  <img src={{ event.image.url }} alt="Unable to load image" class="img-thumbnail" style="max-height:200px; max-width: 100%">
                <!-- </div> -->
                <div class="card-text">
                <p>{{ event.title }}</p>
                <p>{{ event.date }}</p>
                <p>{{ event.location }}</p>
                <p>{{ event.hashtags }}</p>
              </div>
              </div>
              {% endfor %}

            </div>
      {% endblock %}
    </div>
        </div>
  </body>
</html>
