{% extends 'base.html' %}
<!doctype html>
<html lang="en">
	{% load static %}
	<head>
		<title>UCSDEventHub</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<!-- <link href="grid.css" rel="stylesheet"> -->
		<link rel="stylesheet" type="text/css" href="{% static "css/grid.css" %}">
		<style>
		</style>
	</head>
	<body>
		<main role="main">
		<div class="container">
			{% block title_content %}
			<p></p>
			<h1>Upcoming Events</h1>
			<p></p>
			{% endblock %}
			{% block content %}
			<div class="row">
				<div class="col">
				</div>
				<div class="col-md-10" style="padding: 0px">
					<div class="album text-muted" style="background:transparent">
						<div class="container"style="padding: 0px">
							<div class="row">
								{% for event in events %}
								<div class="card">
									<!-- <div class="card_i"> -->
									<div class="homepage_poster">
										<a href="{{ event.event_url }}">
										<img src= "{{ event.image_url }}" class="homepage_poster_image">
										</a>
									</div>
									<!-- </div> -->
									<div class="card-text">
										<a href="{{ event.event_url }}">
											<div class="homepage_title">
												<p class="homepage_p_title">
													{{ event.title }}
												</p>
											</div>
										</a>
										<div class="homepage_datetime">
											<p class="homepage_p_datetime">
												{{ event.start_date }}
											</p>
										</div>
										<div class="homepage_location">
											<p class="homepage_p_location">
												{{ event.location }}
											</p>
										</div>
										<div class="homepage_hashtag">
											<p class="homepage_p_hashtag" style="
												margin-top: 0px;
												">
												{{ event.hashtags }}
											</p>
										</div>
									</div>
								</div>
								{% endfor %}

							</div>
						</div>
					</div>

				</div>
				<div class="col">
				</div>
			</div>
			{% endblock %}
		</div>
	</body>
</html>
