<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Material Login Form</title>
</head>

<body>
{% block title_content %}
  <p></p>
  <h1>Login</h1>
  <p></p>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/loginui.css" %}">
<div class="container">
  <div class="row">
    {{ div_elem|safe }}
    <div class="col-md-6 col-centered">
      <form id="login-form" method="post" action="{% url 'login' %}" >
        {% csrf_token %}
        <div class="form-group row">
          <label for="id_username">User Name<span class="req"> *</span></label>
          <input type="text" name="n_username" class="form-control" id="id_username" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Use the username used while registering for the site</small>
        </div>
        <div class="form-group row">
          <label for="id_password">Password<span class="req"> *</span></label>
          <input type="password" name="n_password" class="form-control" id="id_password" placeholder="Password">
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" name="n_is_org" id="i_is_org" class="form-check-input">
            Login as Organizer
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      {% if form.errors %}
        <p class=" label label-danger">
          Your username and password didn't match.
          Please try again.
        </p>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
</body>
</html>
