{% extends 'base.html' %}
{% load staticfiles %}
<html>
    
    <body>

     {% block title_content %}
    <p></p>
    <h1 class = "eventTitle">{{organizer.org_name}}</h1>
    <p></p>
    {% endblock %}
    {% block content %}
	{% if not invalid %}
		<div class="row">
		<div class="event_details_wrapper">
			<div class="org_event_tile_wrapper no-padding">
				<div class="org_poster">
					<img src="{{organizer.org_image}}" class="poster_image img-responsive"/>
				</div>
				<div class="org_details">
					<div class="title">
						<p class="p_title">
							{{organizer.org_name}}
						</p>
					</div>
					<div class="org_text">
						<p class="p_org_text">
							Email: {{organizer.contact_email}}
						</p>
					</div>
					<div class="org_text">
						<p class="p_org_text">
							Phone: {{organizer.contact_number}}
						</p>
					</div>
					<div class="org_text">
						<p class="p_org_text">
							Address: {{organizer.address}}
						</p>
					</div>


				</div>
			<br style="clear: both;">
			</div>
			
			<div id="wrapper" style="float:left">
				<div class ="description" style="height: unset;width:100%;padding-top:15px">
					<div class="event_details_headings">
						<p class ="p_event_details_headings">About Me</p>
					</div>	
					<div style="min-height:150px">
						<p class="p_description">{{organizer.description}}</p>
					</div>
					
				</div>
				
			</div>
			<div id="wrapper" style="float:left">
				<div class ="description" style="height: unset;width:100%;padding-top:15px">
					<div class="event_details_headings">
						<p class ="p_event_details_headings">Upcoming Events</p>
					</div>	
					<div style="width:100%">
						<div id="upevents_wrapper">
							<ul>
								{% for event in events %}
								<li>
									<div class="card" style="background:unset">
										<!-- <div class="card_i"> -->
										<div class="homepage_poster">
											<a href="{{ event.event_url }}">
											<img src= "{{ event.image_url }}" class="homepage_poster_image">
											</a>
										</div>
										<!-- </div> -->
										<div class="card-text">
											<a href="{{ event.event_url }}">
												<div class="homepage_title">
													<p class="homepage_p_title">
														{{ event.title }}
													</p>
												</div>
											</a>
											<div class="homepage_datetime">
												<p class="homepage_p_datetime">
													{{ event.start_date }}
												</p>
											</div>
											<div class="homepage_location">
												<p class="homepage_p_location">
													{{ event.location }}
												</p>
											</div>
											<div class="homepage_hashtag">
												<p class="homepage_p_hashtag" style="
													margin-top: 0px;
													">
													{{ event.hashtags }}
												</p>
											</div>
										</div>
									</div>
								</li>
								{% endfor %}
									<li>
										<div class="card_dummy">
									</li>
									<li>
										<div class="card_dummy">
									</li>
									<li>
										<div class="card_dummy">
									</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% endblock %}
</body>
</html>