{% extends 'hub\base.html' %}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	
</head>
<body>

<div class="container">
	{% block title_content %}
	<p></p>
	<h1>Search for Events</h1>
	<p></p>
	{% endblock %}
	{% block content %}
	<div class="row">
		<div class="col">
		</div>

		<div class="col-md-10">
			<div id="custom-search-input">
				<div class="input-group col-md-12"  style="padding:0px">
					<input id="search2" type="text" class="form-control input-lg" onkeypress= "searchKeyPressListener2(event)" placeholder="Search" style="height:36px" method="put" value="">
					<span class="input-group-btn">
						<button class="btn btn-info btn-lg" id="searchButton2" type="button"  onclick="SubmitSearchQuery2()">
							<img src="/static/images/search_q.PNG" style="width:40px">
						</button>
					</span>
				</div>
			</div>  
		</div>

		<div class="col">
		</div>
	</div>
	<div class="row">
		<div class="col">
		</div>
		<div class="col-md-10">
			<div style="padding-top: 22px">
				{% if not empty_search and events%}
					
				<p style="margin:0 0 0;font-size: x-large;font-family: unset;"> Search Results </p>
				{% endif %}
			</div>

		</div>
		<div class="col">
		</div>
	</div>
	<div class="row">
		<div class="col">
		</div>

		<div class="col-md-10">
			{% for event in events %}
				<div class="search_event_tile_wrapper">
					<div class="search_poster">
						<a href="{{ event.event_url }}">
						<img src="{{  event.image_url}}" class="search_poster_image">
						</a>
					</div>
					<div class="search_details">
						<div class="search_title">
							<a href="{{ event.event_url }}">
						
							<p class="search_p_title">
								{{  event.title }}
							</p>
							</a>
						</div>

						<div class="search_datetime">
							<p class="search_p_datetime">
								{{  event.start_day }}
								{%  if not event.ending_same_day %}
								  - {{event.end_day}}
								{%  endif%}
							</p>
						</div>
						<div class="search_datetime">
							<p class="search_p_datetime">
								{{  event.start_time }} - {{  event.end_time }}
							</p>
						</div>

						<div class="search_location">
							<p class="search_p_location">
								At: {{  event.location }}
							</p>
						</div>
						<div class="search_organizer">
							<p class="search_p_organizer">
								By: <a href="{{ event.organizer_url }}">
									{{  event.organizer }}
									</a>
							</p>
						</div>

						<div class="search_hashtag">
							<p class="search_p_hashtag">
								{{  event.hashtags }}
							</p>
						</div>
					</div>
					<br style="clear: both;">
				</div>
				{%  empty  %}
					{% if not empty_search %}
						<h3>No results found!</h3>
					{% endif %}
				{%  endfor %}

		</div>
		<div class="col">
		</div>

		</div>
	{% endblock %}
		
</div>


</body></html>