{% extends 'hub\base.html' %}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<script type="text/javascript" language="javascript">
		function SubmitSearchQuery() {
			var input = document.getElementById("search").value;
				location.href = "event_search?q="+input;

		}
		function keyPressListener(e) {
			if (e.keyCode == 13) {
				SubmitSearchQuery()
			}
		}
	</script>
</head>
<body>

<div class="container">
	{% block title_content %}
	<p></p>
	<h1>Search for Events</h1>
	<p></p>
	{% endblock %}
	{% block content %}
	<div class="row">
		<div class="col">
		</div>

		<div class="col">
			<div id="custom-search-input">
				<div class="input-group col-md-12" style="width:700px;">
					<input id="search" type="text" class="form-control input-lg" onkeypress= "keyPressListener(event)" placeholder="Search" style="height:36px" method="put" value="">
					<span class="input-group-btn">
						<button class="btn btn-info btn-lg" id="searchButton" type="button"  onclick="SubmitSearchQuery()">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>

		<div class="col">
		</div>
	</div>
	<div class="row">
		<div class="col">
		</div>
		<div class="col">
			<div style="padding-top: 11px;width: 700px;">
				<p style="margin:0 0 0;font-size: x-large;font-family: unset;"> Search Results </p>
			</div>

		</div>
		<div class="col">
		</div>
	</div>
	<div class="row">

		<div class="col">
			{% for event in events %}
				<div class="event_tile_wrapper">
					<div class="poster">
						<a href="../event_detail/?id={{  event.id}}">
						<img src="/media/{{  event.image}}" class="poster_image">
						</a>
					</div>
					<div class="details">
						<div class="title">
							<a href="../event_detail/id={{  event.id}}">

							<p class="p_title">
								{{  event.title }}
							</p>
							</a>
						</div>

						<div class="datetime">
							<p class="p_datetime">
								{{  event.start_day }}
							</p>
						</div>
						<div class="datetime">
							<p class="p_datetime">
								{{  event.start_time }}
							</p>
						</div>

						<div class="location">
							<p class="p_location">
								{{  event.location }}
							</p>
						</div>

						<div class="hashtag">
							<p class="p_hashtag">
								{{  event.hashtags }}
							</p>
						</div>
					</div>
					<br style="clear: both;">
				</div>
				{%  empty  %}
					<h3>No results found!</h3>
				{%  endfor %}

		</div>
		{% endblock %}
	</div>
</div>


</body></html>