<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Material Login Form</title>
</head>

<body class="signup-body">
{% block title_content %}
  <p></p>
  <h1>SignUp</h1>
  <p></p>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/signupui.css" %}">
<nav class="nav nav-tabs" id="myTab" role="tablist">
  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">New Attendee</a>
  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New Organization</a>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade in active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="container">
      <form id="user-signup-form" enctype="multipart/form-data" method="post" action="{% url 'signup' %}" class="form-horizontal" role="form" novalidate>
        {% csrf_token %}
        <h2>New User Registration</h2>
        <div class="form-group">
            <label for="i_user_name" class="col-md-6 control-label">User Name<span class="req"> *</span></label>
            <div class="col-md-9">
                <input type="text" name="n_user_name" id="i_user_name" placeholder="User Name" class="form-control" required>
                <div class="invalid-feedback">
                  Please provide a username.
                </div>
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="i_userfn" class="col-md-6 control-label">First Name<span class="req"> *</span></label>
            <div class="col-md-9">
              <input type="text" name="n_userfn" id="i_userfn" placeholder="First Name" class="form-control" autofocus required>
              <div class="invalid-feedback">
                Please provide a first name.
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="i_user_ln" class="col-md-9 control-label">Last Name<span class="req"> *</span></label>
            <div class="col-md-9">
              <input type="text" name="n_user_ln" id="i_user_ln" placeholder="Last Name" class="form-control" autofocus required>
              <div class="invalid-feedback">
                Please provide a last name.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" style="display: block;">
          <label class="col-md-4 control-label-left" for="i_user_img">Profile Picture<span class="req"> *</span></label>
          <div class="controls col-md-9">
            <input name="n_user_img" id="i_user_img" class="form-control input-file" type="file" required>
              <div class="invalid-feedback">
                Please provide a profile picture.
              </div>
          </div>
        </div>

        <div class="form-group">
          <label for="i_user_email" class="col-md-6 control-label">Email<span class="req"> *</span></label>
          <div class="col-md-9">
              <input type="email" name="n_user_email" id="i_user_email" placeholder="Email" class="form-control" required>
              <div class="invalid-feedback">
                Please provide a valid email.
              </div>
          </div>
        </div>

        <div class="form-group">
          <label for="i_user_password" class="col-md-6 control-label">Password<span class="req"> *</span></label>
          <div class="col-md-9">
            <input type="password" name="n_user_password" id="i_user_password" placeholder="Password" class="form-control" required>
            <div class="invalid-feedback">
              Please provide a password.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="i_user_confirmpassword" class="col-md-6 control-label">Confirm Password<span class="req"> *</span></label>
          <div class="col-md-9">
            <input type="password" name="n_user_confirmpassword" id="i_user_confirmpassword" placeholder="Confirm Password" class="form-control" required>
            <div class="invalid-feedback">
              Please provide the password again.
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
              <div class="checkbox">
                  <label>
                      <input type="checkbox">I accept <a href="#">terms</a>
                  </label>
              </div>
          </div>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <div class="col-md-3 col-md-offset-3">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
        </div>
    </form> <!-- /form -->
  </div> <!-- ./container -->
</div>

<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  <div class="container">
    <form id="org-signup-form" enctype="multipart/form-data" method="post" action="{% url 'signup' %}" class="form-horizontal" role="form" novalidate>
      {% csrf_token %}
      <h2>New Organization Registration</h2>
      <div class="form-group">
          <label for="i_org_uname" class="col-md-6 control-label">User Name<span class="req"> *</span></label>
          <div class="col-md-9">
              <input type="text" name="n_org_uname" id="i_org_uname" placeholder="User Name" class="form-control" required>
              <div class="invalid-feedback">
                Please provide a username.
              </div>
          </div>
      </div>

      <div class="form-group">
          <label for="i_org_email" class="col-md-6 control-label">Email<span class="req"> *</span></label>
          <div class="col-md-9">
              <input type="email" name="i_org_email" id="i_org_email" placeholder="Email" class="form-control" required>
              <div class="invalid-feedback">
                Please provide a valid email.
              </div>
          </div>
      </div>

      <div class="form-group">
        <label for="i_org_password" class="col-md-6 control-label">Password<span class="req"> *</span></label>
          <div class="col-md-9">
            <input type="password" name="n_org_password" id="i_org_password" placeholder="Password" class="form-control" required>
            <div class="invalid-feedback">
              Please provide a valid password.
            </div>
          </div>
      </div>

      <div class="form-group">
        <label for="i_org_confirmpassword" class="col-md-9 control-label">Confirm Password<span class="req"> *</span></label>
          <div class="col-md-9">
            <input type="password" name="n_org_confirmpassword" id="i_org_confirmpassword" placeholder="Confirm Password" class="form-control" required>
            <div class="invalid-feedback">
              Please provide the password again.
            </div>
          </div>
      </div>

	  <div class="form-group">
		<label for="i_org_name" class="col-md-9 control-label">Organization Name<span class="req"> *</span></label>
		<div class="col-md-9">
		  <input type="text" name="n_org_name" id="i_org_name" placeholder="Full Name" class="form-control" autofocus required>
      <div class="invalid-feedback">
        Please provide an organization name.
      </div>
		</div>
	  </div>

      <div class="form-group">
        <label for="i_org_desc" class="col-md-9 control-label">Description<span class="req"> *</span></label>
          <div class="col-md-9">
            <textarea name="n_org_desc" id="i_org_desc" class="form-control" placeholder="Write Something about your organization ..." rows="5" required></textarea>
            <div class="invalid-feedback">
              Please provide a description of the organization.
            </div>
          </div>
      </div>

      <div class="form-group" style="display: block;">
        <label class="col-md-4 control-label-left" for="i_org_img">Profile Picture<span class="req"> *</span></label>
        <div class="controls">
          <input name="n_org_img" id="i_org_img" class="form-control input-file" type="file" required>
          <div class="invalid-feedback">
            Please provide a valid organization profile picture.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="i_org_addr">Address</label>
        <textarea name="i_org_addr" id="i_org_addr" placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
      </div>

      <div class="form-row">
        <div class="col-md-4 form-group">
          <label for="i_org_city">City</label>
          <input type="text" name="n_org_city" id="i_org_city" placeholder="Enter City Name Here.." class="form-control">
        </div>

        <div class="col-md-4 form-group">
          <label for="i_org_state">State</label>
          <input name="n_org_state" id="i_org_state" type="text" placeholder="Enter State Name Here.." class="form-control">
        </div>

        <div class="col-md-4 form-group">
          <label for="i_org_zip">Zip</label>
          <input name="n_org_zip" id="i_org_zip" type="text" placeholder="Enter Zip Code Here.." class="form-control">
        </div>
      </div>

      <h3>Point of Contact</h3>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="i_org_poc_fn" class="col-md-6 control-label">First Name</label>
          <div class="col-md-9">
            <input type="text" name="n_org_poc_fn" id="i_org_poc_fn" placeholder="First Name" class="form-control" autofocus required>
            <div class="invalid-feedback">
              Please provide a point of contact first name.
            </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="i_org_poc_ln" class="col-md-6 control-label">Last Name</label>
          <div class="col-md-9">
            <input type="text" name="n_org_poc_ln" id="i_org_poc_ln" placeholder="Last Name" class="form-control" autofocus required>
            <div class="invalid-feedback">
              Please provide a point of contact last name.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
          <label for="i_org_poc_email" class="col-md-6 control-label">Email</label>
          <div class="col-md-9">
              <input type="email" name="n_org_poc_email" id="i_org_poc_email" placeholder="Email" class="form-control" required>
              <div class="invalid-feedback">
                Please provide a point of contact email.
              </div>
          </div>
      </div>

      <div class="form-group">
          <label for="i_org_poc_phone" class="col-md-6 control-label">Phone Number</label>
          <div class="col-md-9">
              <input type="phone" name="n_org_poc_phone" id="i_org_poc_phone" placeholder="Phone Number" class="form-control">
          </div>
      </div>

      <div class="form-group">
          <div class="col-md-9">
              <div class="checkbox">
                  <label>
                      <input type="checkbox">I accept <a href="#">terms</a>
                  </label>
              </div>
          </div>
      </div> <!-- /.form-group -->

      <div class="form-group">
          <div class="col-md-3 col-md-offset-3">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
      </div>

    </form>
  </div>
</div>
</div>
  <script type="text/javascript" language="javascript">
  $(".nav a").on("click", function(){
     $(".nav").find(".active").removeClass("active");
     $(this).addClass("active");
  });
  </script>
  <script>
    (function() {
      'use strict';

      window.addEventListener('load', function() {
        var form = document.getElementById('user-signup-form');
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      }, false);
    })();
  </script>
  <script>
    (function() {
      'use strict';

      window.addEventListener('load', function() {
        var form = document.getElementById('org-signup-form');
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      }, false);
    })();
  </script>
{% endblock %}
</body>
</html>
